In [10]:
# 合并类型为字符型  x = x1 + x2 + ...
# 返回值 series 合并后的序列

from pandas import read_csv
df = read_csv(
    "./data.csv", 
    sep=" ", 
    names=['band', 'area', 'num']
)
df

   band  area   num
0   189  2225  4812
1   135  2225  5003
2   134  2225  9938
3   188  2225  6753
4   189  2225  3721
5   134  2225  9313
6   138  2225  4373
7   133  2225  2452
8   189  2225  7681

In [11]:
# 需要先转为字符型， 否则为求和
tel = df['band'] + df['area'] + df['num']
tel

0     7226
1     7363
2    12297
3     9166
4     6135
5    11672
6     6736
7     4810
8    10095
dtype: int64

In [12]:
df = df.astype(str)
tel = df['band'] + df['area'] + df['num']
tel

0    18922254812
1    13522255003
2    13422259938
3    18822256753
4    18922253721
5    13422259313
6    13822254373
7    13322252452
8    18922257681
dtype: object