In [36]:
# drop_duplicates() # 行相同的数据保留一行
from pandas import read_csv
df = read_csv('./data.csv')
new_df = df.drop_duplicates()
print(df,end='\n\n\n')
print(new_df)

        id   key          value
0  1251147    品牌          Apple
1  1251147  商品名称  苹果iPad mini 3
2  1251147  商品毛重         0.61kg
3  1251147  商品产地             中国
4  1251147    品牌          Apple
5  1251147  商品名称  苹果iPad mini 3
6  1251147    硬盘           128G
7  1251147    尺寸      7.8英寸-9英寸


        id   key          value
0  1251147    品牌          Apple
1  1251147  商品名称  苹果iPad mini 3
2  1251147  商品毛重         0.61kg
3  1251147  商品产地             中国
6  1251147    硬盘           128G
7  1251147    尺寸      7.8英寸-9英寸

In [12]:
# 缺失值产生
# 1. 有些信息暂时无法获取
# 2. 有些信息被遗漏或被错误处理

# 缺失值处理方式
# 1. 数据补齐
# 2. 删除对应缺失行
# 3. 不处理

In [14]:
# dropna函数： 去除数据结构中值为空的数据
df = read_csv('./del_data.csv')
new_df = df.dropna()
print(df, end='\n\n\n')
print(new_df)

        id   key          value
0  1251147    品牌          Apple
1  1251147  商品名称  苹果iPad mini 3
2  1251147  商品毛重            NaN
3  1251147   NaN             中国
4  1251147    硬盘           128G
5  1251147    尺寸      7.8英寸-9英寸


        id   key          value
0  1251147    品牌          Apple
1  1251147  商品名称  苹果iPad mini 3
4  1251147    硬盘           128G
5  1251147    尺寸      7.8英寸-9英寸

In [19]:
# 空格值处理
df = read_csv('./space_data.csv')
print(df, end='\n\n\n')
new_name = df['name'].str.strip()
print(new_name, end='\n\n\n')
# df['name'] = new_name

   id        name
0   1         KEN
1   2      JIMI
2   3        John


0     KEN
1    JIMI
2    John
Name: name, dtype: object

In [ ]:
# 字段抽取， 根据已知列数据的开始与结束位置，抽取新的列
# slice(start, stop)

In [22]:
df = read_csv('./slice_data.csv')
print(df, end='\n\n')
df['tel'] = df['tel'].astype(str) # 将tel列转化为string类型
# 运营商
brands = df['tel'].str.slice(0, 3)
print(brands)
# 地区
areas = df['tel'].str.slice(3, 7)
print(areas)
# 号码段
nums = df['tel'].str.slice(7, 11)
print(nums)

           tel
0  18922254812
1  13522255003
2  13422259938
3  18822256753
4  18922253721
5  13422259313
6  13822254373
7  13322252452
8  18922257681

0    189
1    135
2    134
3    188
4    189
5    134
6    138
7    133
8    189
Name: tel, dtype: object
0    2225
1    2225
2    2225
3    2225
4    2225
5    2225
6    2225
7    2225
8    2225
Name: tel, dtype: object
0    4812
1    5003
2    9938
3    6753
4    3721
5    9313
6    4373
7    2452
8    7681
Name: tel, dtype: object

In [27]:
# 字段拆分， 按照固定的字符，拆分已有的字符串
# split(sep, n, expand=False)
df = read_csv('./split_data.csv')
print(df, end='\n\n\n')
newDF = df['name'].str.split(' ', 1, True)
print(newDF, end='\n\n\n')
newDF.columns = ['band', 'name']  # 设置列名
print(newDF)

                                                name
0  Apple iPad mini MF432CH/A 7.9英寸平板电脑 （16G WiFi版...
1       华为 MediaPad 7Vogue S7-601c（8G) 7英寸通话平板电脑-电信版
2  昂达（ONDA） V975m四核 2G主频最强A9四核 八核GPU 2G内存 16G 204...
3  昂达（ONDA） V975四核 （9.7英寸 A31四核八显 32G 2048*1536视网...
4           华为（HUAWEI） 荣耀X1 7英寸（月光银）3G通话平板 WCDMA/GSM
5  酷比魔方（CUBE） TALK7X四核 7.0英寸平板电脑（MTK8382 IPS全视角屏 ...
6      惠普（HP） Slate 7 3G通话平板（双卡双待7英寸  四核  IPS 超清炫屏 ）
7  酷比魔方（ACUBE) TALK97 9.7英寸平板电脑（MTK8382 IPS大猩猩屏 3...
8  三星（SAMSUNG） GALAXY NotePro P901 12.2寸平板电脑 （双四核...
9  宏碁（acer） P3-131-21292G06as 11.6英寸变形触控本 （奔腾2129...


             0                                                  1
0        Apple    iPad mini MF432CH/A 7.9英寸平板电脑 （16G WiFi版）深空灰定制版
1           华为          MediaPad 7Vogue S7-601c（8G) 7英寸通话平板电脑-电信版
2     昂达（ONDA）  V975m四核 2G主频最强A9四核 八核GPU 2G内存 16G 2048*1536视网膜...
3     昂达（ONDA）  V975四核 （9.7英寸 A31四核八显 32G 2048*1536视网膜屏 前后双置高清...
4   华为（HUAWEI）                      荣耀X1 7英寸（月光银）3G通话平板 WCDMA/GSM
5   酷比魔方（CUBE）  TALK7X四核 7.0英寸平板电脑（MTK8382 IPS全视角屏 3G通话 1G/8G ...
6       惠普（HP）             Slate 7 3G通话平板（双卡双待7英寸  四核  IPS 超清炫屏 ）
7  酷比魔方（ACUBE)  TALK97 9.7英寸平板电脑（MTK8382 IPS大猩猩屏 3G通话 1G/8G 后置...
8  三星（SAMSUNG）  GALAXY NotePro P901 12.2寸平板电脑 （双四核1.9+1.3GHz 3...
9     宏碁（acer）  P3-131-21292G06as 11.6英寸变形触控本 （奔腾2129Y 2G 60GS...


          band                                               name
0        Apple    iPad mini MF432CH/A 7.9英寸平板电脑 （16G WiFi版）深空灰定制版
1           华为          MediaPad 7Vogue S7-601c（8G) 7英寸通话平板电脑-电信版
2     昂达（ONDA）  V975m四核 2G主频最强A9四核 八核GPU 2G内存 16G 2048*1536视网膜...
3     昂达（ONDA）  V975四核 （9.7英寸 A31四核八显 32G 2048*1536视网膜屏 前后双置高清...
4   华为（HUAWEI）                      荣耀X1 7英寸（月光银）3G通话平板 WCDMA/GSM
5   酷比魔方（CUBE）  TALK7X四核 7.0英寸平板电脑（MTK8382 IPS全视角屏 3G通话 1G/8G ...
6       惠普（HP）             Slate 7 3G通话平板（双卡双待7英寸  四核  IPS 超清炫屏 ）
7  酷比魔方（ACUBE)  TALK97 9.7英寸平板电脑（MTK8382 IPS大猩猩屏 3G通话 1G/8G 后置...
8  三星（SAMSUNG）  GALAXY NotePro P901 12.2寸平板电脑 （双四核1.9+1.3GHz 3...
9     宏碁（acer）  P3-131-21292G06as 11.6英寸变形触控本 （奔腾2129Y 2G 60GS...

In [42]:
# 记录抽取
# 比较运算
# 范围运算 between(left, right)
# 空值匹配 pandas.isnull(column) eg:df[pandas.isnull(df.title)]
# 字符匹配  str.contains(patten, na=False) eg:df[pandas.contain('aaa', na=False)]
# 逻辑运算  & | not
df = read_csv('./record_data.csv', sep="|")
df

        id  comments                                              title
0  1197453     10071  华为（HUAWEI）荣耀平板 Wifi版 8英寸平板电脑（高通骁龙四核 1280×800 1...
1  1192330      6879  小米（MI）7.9英寸平板 WIFI 64GB（NVIDIA Tegra K1 2.2GHz...
2  1225995      2218  小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...
3  1308557      1605  华为（HUAWEI）荣耀平板优享版 Wifi 8英寸平板电脑（高通骁龙 64位四核1280×...
4  1185287       836  微软（Microsoft） Surface Pro 3（中文版 Intel i5 128G存...
5  1197789      2084                                                NaN
6   996957     11123   Apple iPad Air MD785CH 9.7英寸平板电脑 （16G WiFi版）深空灰色
7  1150612      5857  台电（Teclast） P98 3G八核 9.7英寸平板电脑(MTK8392 Air视网膜屏...
8  1285329      2482  台电（Teclast）X98 Air 3G 双系统版 9.7英寸平板电脑(正版Win8+安卓...

In [31]:
df[df.comments>10000]

        id  comments                                              title
0  1197453     10071  华为（HUAWEI）荣耀平板 Wifi版 8英寸平板电脑（高通骁龙四核 1280×800 1...
6   996957     11123   Apple iPad Air MD785CH 9.7英寸平板电脑 （16G WiFi版）深空灰色

In [43]:
df[df.comments.between(1000,10000)]

        id  comments                                              title
1  1192330      6879  小米（MI）7.9英寸平板 WIFI 64GB（NVIDIA Tegra K1 2.2GHz...
2  1225995      2218  小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...
3  1308557      1605  华为（HUAWEI）荣耀平板优享版 Wifi 8英寸平板电脑（高通骁龙 64位四核1280×...
5  1197789      2084                                                NaN
7  1150612      5857  台电（Teclast） P98 3G八核 9.7英寸平板电脑(MTK8392 Air视网膜屏...
8  1285329      2482  台电（Teclast）X98 Air 3G 双系统版 9.7英寸平板电脑(正版Win8+安卓...

In [45]:
import pandas
df[pandas.isnull(df.title)]

        id  comments title
5  1197789      2084   NaN

In [46]:
df[df.title.str.contains('华为', na=False)]

        id  comments                                              title
0  1197453     10071  华为（HUAWEI）荣耀平板 Wifi版 8英寸平板电脑（高通骁龙四核 1280×800 1...
3  1308557      1605  华为（HUAWEI）荣耀平板优享版 Wifi 8英寸平板电脑（高通骁龙 64位四核1280×...

In [47]:
df[(df.comments>=1000) & (df.comments<=10000)]

        id  comments                                              title
1  1192330      6879  小米（MI）7.9英寸平板 WIFI 64GB（NVIDIA Tegra K1 2.2GHz...
2  1225995      2218  小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...
3  1308557      1605  华为（HUAWEI）荣耀平板优享版 Wifi 8英寸平板电脑（高通骁龙 64位四核1280×...
5  1197789      2084                                                NaN
7  1150612      5857  台电（Teclast） P98 3G八核 9.7英寸平板电脑(MTK8392 Air视网膜屏...
8  1285329      2482  台电（Teclast）X98 Air 3G 双系统版 9.7英寸平板电脑(正版Win8+安卓...

In [49]:
# 随机抽样
df = read_csv('./numpy_data.csv')
df

   num
0   10
1   20
2   30
3   40
4   50
5   60
6   70
7   80
8   90
9  100

In [52]:
import numpy
r = numpy.random.randint(0, 10, 3)
df.loc[r, :]

   num
6   70
1   20
9  100