In [1]:
# datetime列.dt.property
# 属性 seconf  minute  hour   day   month   year   weekday

In [2]:
from pandas import read_csv
from pandas import to_datetime
df = read_csv('.\data.csv', encoding='utf8')
df

                 电话       注册时间 是否微信
0      166412894295   2011/1/1    否
1      166416795207   2011/1/1    否
2      166423353436   2011/1/1    是
3      166424978309   2011/1/1    是
4      166450811715   2011/1/1    否
5      166450811771   2011/1/1    否
6      166450811789   2011/1/1    是
7      166450811792   2011/1/1    是
8      166450811840   2011/1/1    是
9      166450812346   2011/1/1    是
10     166450812375   2011/1/1    是
11     166450812551   2011/1/1    是
12     166450812587   2011/1/1    否
13     166450812593   2011/1/1    是
14     166450812846   2011/1/1    是
15     166450813011   2011/1/1    否
16     166450813129   2011/1/1    否
17     166450813231   2011/1/1    否
18     166450813475   2011/1/1    是
19     166450813757   2011/1/1    否
20     166450813868   2011/1/1    否
21     166450813872   2011/1/1    否
22     166450813960   2011/1/1    否
23     166450814018   2011/1/1    否
24     166450814331   2011/1/1    是
25     166450814360   2011/1/1    否
26     166450814611   2011/1/1    是
27     166450814762   2011/1/1    否
28     166538479184   2011/1/1    否
29     166547114238   2011/1/1    否
...             ...        ...  ...
60319  166450811450  2012/9/26    是
60320  166450811583  2012/9/26    是
60321  166450811604  2012/9/26    否
60322  166450811610  2012/9/26    否
60323  166450811621  2012/9/26    否
60324  166533034567  2012/9/26    是
60325  166537153061  2012/9/26    是
60326  166553983004  2012/9/26    是
60327  166556830634  2012/9/26    是
60328  166560961183  2012/9/26    是
60329  166622806825  2012/9/26    是
60330  166643103010  2012/9/26    否
60331  166695122930  2012/9/26    否
60332  166712046804  2012/9/26    否
60333  166712587883  2012/9/26    否
60334  166713257878  2012/9/26    是
60335  166726556321  2012/9/26    否
60336  166728325615  2012/9/26    否
60337  166790612337  2012/9/26    是
60338  166790750092  2012/9/26    是
60339  166799060562  2012/9/26    否
60340  166929582600  2012/9/26    否
60341  166816969397  2012/9/26    否
60342  166816969600  2012/9/26    否
60343  166816986829  2012/9/26    否
60344  166818571754  2012/9/26    是
60345  166913860749  2012/9/26    否
60346  166913918213  2012/9/26    否
60347  166917051477  2012/9/26    是
60348  166920366348  2012/9/26    否

[60349 rows x 3 columns]

In [3]:
df_dt = to_datetime(df.注册时间, format='%Y/%m/%d')
df_dt

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
5       2011-01-01
6       2011-01-01
7       2011-01-01
8       2011-01-01
9       2011-01-01
10      2011-01-01
11      2011-01-01
12      2011-01-01
13      2011-01-01
14      2011-01-01
15      2011-01-01
16      2011-01-01
17      2011-01-01
18      2011-01-01
19      2011-01-01
20      2011-01-01
21      2011-01-01
22      2011-01-01
23      2011-01-01
24      2011-01-01
25      2011-01-01
26      2011-01-01
27      2011-01-01
28      2011-01-01
29      2011-01-01
           ...
60319   2012-09-26
60320   2012-09-26
60321   2012-09-26
60322   2012-09-26
60323   2012-09-26
60324   2012-09-26
60325   2012-09-26
60326   2012-09-26
60327   2012-09-26
60328   2012-09-26
60329   2012-09-26
60330   2012-09-26
60331   2012-09-26
60332   2012-09-26
60333   2012-09-26
60334   2012-09-26
60335   2012-09-26
60336   2012-09-26
60337   2012-09-26
60338   2012-09-26
60339   2012-09-26
60340   2012-09-26
60341   2012-09-26
60342   2012-09-26
60343   2012-09-26
60344   2012-09-26
60345   2012-09-26
60346   2012-09-26
60347   2012-09-26
60348   2012-09-26
Name: 注册时间, dtype: datetime64[ns]

In [4]:
df_dt.dt.year

0        2011
1        2011
2        2011
3        2011
4        2011
5        2011
6        2011
7        2011
8        2011
9        2011
10       2011
11       2011
12       2011
13       2011
14       2011
15       2011
16       2011
17       2011
18       2011
19       2011
20       2011
21       2011
22       2011
23       2011
24       2011
25       2011
26       2011
27       2011
28       2011
29       2011
         ...
60319    2012
60320    2012
60321    2012
60322    2012
60323    2012
60324    2012
60325    2012
60326    2012
60327    2012
60328    2012
60329    2012
60330    2012
60331    2012
60332    2012
60333    2012
60334    2012
60335    2012
60336    2012
60337    2012
60338    2012
60339    2012
60340    2012
60341    2012
60342    2012
60343    2012
60344    2012
60345    2012
60346    2012
60347    2012
60348    2012
Name: 注册时间, dtype: int64

In [5]:
df_dt.dt.second

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
60319    0
60320    0
60321    0
60322    0
60323    0
60324    0
60325    0
60326    0
60327    0
60328    0
60329    0
60330    0
60331    0
60332    0
60333    0
60334    0
60335    0
60336    0
60337    0
60338    0
60339    0
60340    0
60341    0
60342    0
60343    0
60344    0
60345    0
60346    0
60347    0
60348    0
Name: 注册时间, dtype: int64

In [6]:
df_dt.dt.minute

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
60319    0
60320    0
60321    0
60322    0
60323    0
60324    0
60325    0
60326    0
60327    0
60328    0
60329    0
60330    0
60331    0
60332    0
60333    0
60334    0
60335    0
60336    0
60337    0
60338    0
60339    0
60340    0
60341    0
60342    0
60343    0
60344    0
60345    0
60346    0
60347    0
60348    0
Name: 注册时间, dtype: int64

In [7]:
df_dt.dt.hour

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
60319    0
60320    0
60321    0
60322    0
60323    0
60324    0
60325    0
60326    0
60327    0
60328    0
60329    0
60330    0
60331    0
60332    0
60333    0
60334    0
60335    0
60336    0
60337    0
60338    0
60339    0
60340    0
60341    0
60342    0
60343    0
60344    0
60345    0
60346    0
60347    0
60348    0
Name: 注册时间, dtype: int64

In [8]:
df_dt.dt.day

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
60319    26
60320    26
60321    26
60322    26
60323    26
60324    26
60325    26
60326    26
60327    26
60328    26
60329    26
60330    26
60331    26
60332    26
60333    26
60334    26
60335    26
60336    26
60337    26
60338    26
60339    26
60340    26
60341    26
60342    26
60343    26
60344    26
60345    26
60346    26
60347    26
60348    26
Name: 注册时间, dtype: int64

In [9]:
df_dt.dt.month

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
60319    9
60320    9
60321    9
60322    9
60323    9
60324    9
60325    9
60326    9
60327    9
60328    9
60329    9
60330    9
60331    9
60332    9
60333    9
60334    9
60335    9
60336    9
60337    9
60338    9
60339    9
60340    9
60341    9
60342    9
60343    9
60344    9
60345    9
60346    9
60347    9
60348    9
Name: 注册时间, dtype: int64

In [10]:
df_dt.dt.weekday

0        5
1        5
2        5
3        5
4        5
5        5
6        5
7        5
8        5
9        5
10       5
11       5
12       5
13       5
14       5
15       5
16       5
17       5
18       5
19       5
20       5
21       5
22       5
23       5
24       5
25       5
26       5
27       5
28       5
29       5
        ..
60319    2
60320    2
60321    2
60322    2
60323    2
60324    2
60325    2
60326    2
60327    2
60328    2
60329    2
60330    2
60331    2
60332    2
60333    2
60334    2
60335    2
60336    2
60337    2
60338    2
60339    2
60340    2
60341    2
60342    2
60343    2
60344    2
60345    2
60346    2
60347    2
60348    2
Name: 注册时间, dtype: int64