In [1]:
# 根据数据分析对象的特征， 按照一定的数值标准指示， 把数据分析对象划分为不同的区间部分
# 来进行研究，以揭示其内在的联系和规律性
# cut(series, bins, right=True, labels=NULL)
# 分别为需要分组的数据， 分组的划分数组， 分组的时候右边是否闭合， 分组自定义标签，可以为NULL

In [2]:
import pandas;
from pandas import read_csv
df = read_csv(".\data.csv", sep='|')
df

             tel   cost
0   166424556600    2.0
1   166424557199    5.0
2   166424561768   75.3
3   166424569696   20.0
4   166424569924   97.3
5   166424579238    3.0
6   166424581334  100.0
7   166424589730   77.0
8   166424591167    5.5
9   166424598020   50.0
10  166424598259   28.6
11  166424606270   10.8
12  166424632819   76.7
13  166424635250   84.6
14  166424641824   10.0

In [3]:
bins = [min(df.cost)-1, 20, 40, 60, 80, 100, max(df.cost)+1];

labels = ['20以下', '20到40', '40到60', '60到80', '80到100', '100以上']
pandas.cut(df.cost, bins)

0       (1, 20]
1       (1, 20]
2      (60, 80]
3       (1, 20]
4     (80, 100]
5       (1, 20]
6     (80, 100]
7      (60, 80]
8       (1, 20]
9      (40, 60]
10     (20, 40]
11      (1, 20]
12     (60, 80]
13    (80, 100]
14      (1, 20]
Name: cost, dtype: category
Categories (6, object): [(1, 20] < (20, 40] < (40, 60] < (60, 80] < (80, 100] < (100, 101]]

In [4]:
pandas.cut(df.cost, bins, right=False)

0        [1, 20)
1        [1, 20)
2       [60, 80)
3       [20, 40)
4      [80, 100)
5        [1, 20)
6     [100, 101)
7       [60, 80)
8        [1, 20)
9       [40, 60)
10      [20, 40)
11       [1, 20)
12      [60, 80)
13     [80, 100)
14       [1, 20)
Name: cost, dtype: category
Categories (6, object): [[1, 20) < [20, 40) < [40, 60) < [60, 80) < [80, 100) < [100, 101)]

In [5]:
pandas.cut(df.cost, bins, right=False, labels=labels)

0       20以下
1       20以下
2      60到80
3      20到40
4     80到100
5       20以下
6      100以上
7      60到80
8       20以下
9      40到60
10     20到40
11      20以下
12     60到80
13    80到100
14      20以下
Name: cost, dtype: category
Categories (6, object): [20以下 < 20到40 < 40到60 < 60到80 < 80到100 < 100以上]