In [1]:
# 不同结构的数据框，按照一定的条件进行合并
# merge(x, y, left_on, right_on)
# 分别为第一个数据框， 第二个数据框， 第一个数据框匹配的列， 第二个数据框匹配的列
# 返回值 DataFrame

In [4]:
import pandas;
from pandas import read_csv

items = read_csv(
    "./data1.csv", 
    sep='|', 
    names=['id', 'comments', 'title']
)
items

        id  comments                                              title
0   996955      2412  Apple iPad Air MD786CH/A 9.7英寸平板电脑 （32G WiFi版）...
1  1251208      2061  Apple iPad Air 2 MGKM2CH/A 9.7英寸平板电脑 （64G WiFi...
2  1197453     10071  华为（HUAWEI）荣耀平板 Wifi版 8英寸平板电脑（高通骁龙四核 1280×800 1...
3  1192330      6879  小米（MI）7.9英寸平板 WIFI 64GB（NVIDIA Tegra K1 2.2GHz...
4  1225995      2218  小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...
5  1308557      1605  华为（HUAWEI）荣耀平板优享版 Wifi 8英寸平板电脑（高通骁龙 64位四核1280×...
6  1185287       836  微软（Microsoft） Surface Pro 3（中文版 Intel i5 128G存...
7  1197789      2084  小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...
8   996957     11123   Apple iPad Air MD785CH 9.7英寸平板电脑 （16G WiFi版）深空灰色
9  1150612      5857  台电（Teclast） P98 3G八核 9.7英寸平板电脑(MTK8392 Air视网膜屏...

In [6]:
prices = read_csv(
    "./data2.csv", 
    sep='|', 
    names=['id', 'oldPrice', 'nowPrice']
)
prices

        id  oldPrice  nowPrice
0   996955      3099      4299
1  1251208      4288      4289
2  1197453       799      1000
3  1192330      1699      1799
4  1225995      1299      1599
5  1308557       999      1099
6  1185287      7388      7588
7  1197789      1299      1500
8   996957      2788      2899
9  1150612       999      1499

In [7]:
itemPrices = pandas.merge(
    items, 
    prices, 
    left_on='id', 
    right_on='id'
)
itemPrices

,id,comments,title,oldPrice,nowPrice
0,996955,2412,Apple iPad Air MD786CH/A 9.7英寸平板电脑 （32G WiFi版）...,3099,4299
1,1251208,2061,Apple iPad Air 2 MGKM2CH/A 9.7英寸平板电脑 （64G WiFi...,4288,4289
2,1197453,10071,华为（HUAWEI）荣耀平板 Wifi版 8英寸平板电脑（高通骁龙四核 1280×800 1...,799,1000
3,1192330,6879,小米（MI）7.9英寸平板 WIFI 64GB（NVIDIA Tegra K1 2.2GHz...,1699,1799
4,1225995,2218,小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...,1299,1599
5,1308557,1605,华为（HUAWEI）荣耀平板优享版 Wifi 8英寸平板电脑（高通骁龙 64位四核1280×...,999,1099
6,1185287,836,微软（Microsoft） Surface Pro 3（中文版 Intel i5 128G存...,7388,7588
7,1197789,2084,小米（MI）7.9英寸平板 WIFI 16GB（NVIDIA Tegra K1 2.2GHz...,1299,1500
8,996957,11123,Apple iPad Air MD785CH 9.7英寸平板电脑 （16G WiFi版）深空灰色,2788,2899
9,1150612,5857,台电（Teclast） P98 3G八核 9.7英寸平板电脑(MTK8392 Air视网膜屏...,999,1499